/* #ballsImg {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  display: block;

}
#loading {
  margin: 20% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ballImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  border: 3px solid black;
  animation-name: ball;
  animation-duration: 3s;
  display: none;
}
@keyframes ball {
  0% {
    transform: scale(1.5);
  }
}

#gameName {
  font-size: 50px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.61);
  position: absolute;
  top: 45%;
  display: none;
  animation-name: zoom;
  animation-duration: 3s;
}
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
}
#teamName {
  position: absolute;
  font-size: 40px;
  padding: 10px;
  border-radius: 4px;
  top: 70%;
  background-color: rgba(255, 255, 255, 0.61);
  left: 15%;
  display: none;
  animation-name: team;
  animation-duration: 3s;
}
@keyframes team {
  0% {
    transform: translate(-500px);
  }
}
#continue {
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 90%;
  right: 10%;
  background-color: rgba(255, 255, 255, 0.61);
  text-decoration: none;
  color: black;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#hover {
  display: block;
  font-size: 50px;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes changecolor {
  0% {
    color: black;
  }
  50% {
    color: rgb(255, 145, 0);
  }
}

#loading:hover > #hover {
  display: none;
}
#loading:hover > #ballImg {
  display: block;
}
#loading:hover > #gameName {
  display: block;
}
#loading:hover > #teamName {
  display: block;
} */
/*paryan*/
@font-face {
  font-family: yekan;
  src: url(fonts/yekan.ttf);
}
@font-face {
  font-family: snowFlake;
  src: url(fonts/snowFlake.ttf);
}
@font-face {
  font-family: debazneu;
  src: url(fonts/debazneu.ttf);
}
/* text font */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
}
/* body style */
  #logoGame {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border: 5px solid #ef6c00;
    margin: 0 20%;
    transition: all 1s;
  }
  /* basketball img style */
  #nameGame {
    font-size: 44px;
    color: #ef6c00;
    font-family: snowFlake;
    text-shadow: 0 0 20px #ffffff;
    line-height: 0;
    transition: all 1s;
  }
  /* game name style, main text */
  #nameCompany {
    position: absolute;
    margin-top: 50px;
    left: 250px;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    color: #ef6c00;
    font-family: debazneu;
    text-shadow: 0 0 20px #ffffff;
    transition: all 1s;
  }
  
  ul {
    color: white;
    padding-right: 20px;
  }
  #nameCompany:hover > ul {

    color: #ef6c00; 
    box-shadow: 0 0 3px 5px  #ef6c00; transform: translateX(100px); 
    transition-duration: 2s;

  }
  /* team name and members */

  a{
  text-decoration: none;
  }
  /* link items style */
  .btn {
    --color: #ef6c00;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    border: none;
    background-color: transparent;
    margin: 0 20%;
    margin-top: 150px;
  }

  .btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
  }

  .btn::before {
    content: "";
    z-index: -1;
    background-color: var(--color);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: 0.5s;
    opacity: 0.2;
  }
/* start btn style and transition and transform */
  .btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
  }

  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
 /* start btn hover style */
  .btn svg {
    transform: translateX(-200%);
    transition: 0.5s;
    width: 0;
    color: #ffffff;
    opacity: 0;
  }

  .btn:hover svg {
    width: 25px;
    transform: translateX(0%);
    opacity: 1;
  }
/* start btn svg and hover style */
  .btn:active {
    filter: brightness(1.4);
  }
  /* start btn active style */
/*paryan*/
